.container {
    font-family: 'arial black';
  }
.Home-img {
  margin-top: 220px;
}
.My-portfolio {
  text-align: center;
  position: relative;
}
.portfolio-list {
  position: absolute;
  margin-top: 100px;
  margin-left: 24%;
  padding-left: 0;
  list-style: none;
}

.About, .Work, .Contact {
  position: absolute;
  margin-top: 100px;
  width: 250px;
  height: 250px;
}
.About {
  top: 0;
  background-color: rgba(255, 245, 255, 0.68);
}
.About-text {
  text-decoration: none;
  margin-top: 30px;
  font-size: 20px;
  color: rgb(252, 252, 252);
  text-shadow: 1px 1px 0 #DDDDDD,
                -1px 1px 0 #DDDDDD,
                1px -1px 0 #DDDDDD,
                -1px -1px 0 #DDDDDD;
}
.Work {
  left: 200px;
  top: 210px;
  background-color: rgba(255, 255, 255, 0.5);
}
.Work-text {
  margin-top: 110px;
  font-size: 25px;
  color: #DDDDDD;
  text-shadow: 1px 1px 0 white,
                -1px 1px 0 white,
                1px -1px 0 white,
                -1px -1px 0 white;
}
.Contact {
  left: 410px;
  top: 410px;
  background-color: rgba(255, 245, 255, 0.680);
}
.Contact-text {
  margin-top: 190px;
  font-size: 20px;
  color: rgb(252, 252, 252);
  text-shadow: 1px 1px 0 #DDDDDD,
                -1px 1px 0 #DDDDDD,
                1px -1px 0 #DDDDDD,
                -1px -1px 0 #DDDDDD;
}
.About-icon, .Work-icon, .Contact-icon {
  margin-top: 3px;
  color: #e4e4e4c9;
}
.heart-icon {
  color: #ff6095c9;
}
.pc-icon {
  color: #999999c9;
}
.paper-plane-icon {
  color: #f8ffffe3;
}
@media screen and (max-width:480px) {
  .Home-img { display:none;}
  .My-portfolio {
    position: relative;
  }
  .portfolio-list {
    position: absolute;
    margin-top: 100px;
    margin-left: 24%;
    padding-left: 0;
    list-style: none;
  }
  .About-border, .Work-border, .Contact-border {
    width: 230px;
    height: 230px;
    border: 2px dashed rgb(34, 34, 34);
  }
  .About, .Work, .Contact {
    width: 200px;
    height: 200px;
    top: 12px;
    left: 6%;
    margin: 0;
  }
  .About-text, .Work-text, .Contact-text {
    margin-top: 68px;
    font-size: 25px;
  }
  .About-icon, .Work-icon, .Contact-icon {
    margin-top: 3px;
    color: #e4e4e4c9;
  }
  .About-border {
    position: relative;
  }
  .About {
    position: absolute;
    background-color: rgba(255, 245, 255, 0.68);
  }
  .heart-icon {
    color: #ff6095c9;
  }
  .Work-border {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .Work {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.911);
  }
  .pc-icon {
    color: #999999c9;
  }
  .Contact-border {
    position: relative;
  }
  .Contact {
    position: absolute;
    background-color: rgba(255, 245, 255, 0.68);
  }
  .paper-plane-icon {
    color: #f8ffffe3;
  }
}