.home__main {
    font-family: 'arial black';
  }
.Home-img {
  margin-top: 220px;
}
.My-portfolio {
  position: relative;
  text-align: center;
}
.About, .Work, .Contact {
  position: absolute;
  margin-top: 100px;
}
.About {
  width: 250px;
  height: 250px;
  left: 390px;
  top: 0;
  background-color: rgba(255, 245, 255, 0.68);
}
.About-text {
  text-decoration: none;
  margin-top: 30px;
  font-size: 20px;
  color: rgb(252, 252, 252);
  text-shadow: 1px 1px 0 #DDDDDD,
                -1px 1px 0 #DDDDDD,
                1px -1px 0 #DDDDDD,
                -1px -1px 0 #DDDDDD;
}
.Work {
  width: 250px;
  height: 250px;
  left: 590px;
  top: 210px;
  background-color: rgba(255, 255, 255, 0.5);
}
.Work-text {
  margin-top: 110px;
  font-size: 25px;
  color: #DDDDDD;
  text-shadow: 1px 1px 0 white,
                -1px 1px 0 white,
                1px -1px 0 white,
                -1px -1px 0 white;
}
.Contact {
  width: 250px;
  height: 250px;
  left: 800px;
  top: 410px;
  background-color: rgba(255, 245, 255, 0.680);
}
.Contact-text {
  margin-top: 190px;
  font-size: 20px;
  color: rgb(252, 252, 252);
  text-shadow: 1px 1px 0 #DDDDDD,
                -1px 1px 0 #DDDDDD,
                1px -1px 0 #DDDDDD,
                -1px -1px 0 #DDDDDD;
}
@media screen and (max-width:575px) {
  .My-portfolio {
    text-align: center;
      width: 50%;
      margin: 0 auto;
  }
  .About {
    width: 250px;
    height: 250px;
    left: 100px;
    background-color: rgba(255, 245, 255, 0.68);
  }
  .Work {
    width: 250px;
    height: 250px;
    left: 100px;
    top: 210px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .Contact {
    width: 250px;
    height: 250px;
    left: 100px;
    top: 410px;
    background-color: rgba(255, 245, 255, 0.680);
  }

}