.home__main {
    font-family: 'arial black';
  }
.Home-img {
  margin-top: 220px;
}
.My-portfolio {
  text-align: center;
  position: relative;
}
.About, .Work, .Contact {
  position: absolute;
  margin-top: 100px;
  width: 250px;
  height: 250px;
}
.About {
  left: 390px;
  top: 0;
  background-color: rgba(255, 245, 255, 0.68);
}
.About-text {
  text-decoration: none;
  margin-top: 30px;
  font-size: 20px;
  color: rgb(252, 252, 252);
  text-shadow: 1px 1px 0 #DDDDDD,
                -1px 1px 0 #DDDDDD,
                1px -1px 0 #DDDDDD,
                -1px -1px 0 #DDDDDD;
}
.Work {
  left: 590px;
  top: 210px;
  background-color: rgba(255, 255, 255, 0.5);
}
.Work-text {
  margin-top: 110px;
  font-size: 25px;
  color: #DDDDDD;
  text-shadow: 1px 1px 0 white,
                -1px 1px 0 white,
                1px -1px 0 white,
                -1px -1px 0 white;
}
.Contact {
  left: 800px;
  top: 410px;
  background-color: rgba(255, 245, 255, 0.680);
}
.Contact-text {
  margin-top: 190px;
  font-size: 20px;
  color: rgb(252, 252, 252);
  text-shadow: 1px 1px 0 #DDDDDD,
                -1px 1px 0 #DDDDDD,
                1px -1px 0 #DDDDDD,
                -1px -1px 0 #DDDDDD;
}
@media screen and (max-width:480px) {
  .Home-img { display:none;}
  .My-portfolio {
      padding-left: 0;
      list-style: none;
  }
  .About, .Work, .Contact {
    width: 200px;
    height: 200px;
    left: 25%;
  }
  .About-text, .Work-text, .Contact-text {
    font-size: 25px;
  }
  .About-border {
    width: 220px;
    height: 220px;
    margin-top: 50px;
    margin-left: 23%;
    border: 2px dashed rgb(34, 34, 34);
  }
  .About {
    background-color: rgba(255, 245, 255, 0.68);
  }
  .Work-border {
    width: 220px;
    height: 220px;
    margin-top: 30px;
    margin-bottom: 30;
    margin-left: 23%;
    border: 2px dashed rgb(34, 34, 34);
  }
  .Work {
    top: 300px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .Contact-border {
    width: 220px;
    height: 220px;
    margin-left: 23%;
    border: 2px dashed rgb(34, 34, 34);
  }
  .Contact {
    top: 600px;
    background-color: rgba(255, 245, 255, 0.68);
  }

}